@import "./Variables/variables.module.scss";

/* Title font */
@import url("https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* Body font */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Roboto Slab", serif;
}
main {
  padding: 18px;
}

h1 {
  font-size: $h1;
  font-weight: $h1-w;
  font-family: "Oxygen Mono", monospace;
  color: $color-white;
}
h2 {
  font-size: $h2;
  font-weight: $h2-w;
  color: $color-white;
}
h3 {
  font-size: $h3;
  font-weight: $h3-w;
  color: rgb(177, 177, 177);
}
h4 {
  font-size: $h4;
  font-weight: $h4-w;
  color: $bg-color-dark;
}
h5 {
  font-size: $h5;
  font-weight: $h5-w;
  color: $color-grey;
}
p {
  font-size: $p;
  font-weight: $p-w;
  color: $color-grey;
}
//
//Global components
//

//Call to action buttons
.CTA-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  //Main button - Preview projects
  .mainBtn {
    padding: 10px 20px;
    width: 250px;
    text-align: center;
    background: rgba(77, 163, 132, 1);
    filter: drop-shadow(0px 0px 2px #1f4559);
    color: white;
  }
  //Secondary button - Contact with me
  
}

//Cursor design
.cursor {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0px;
  pointer-events: none;
  z-index: 99999999999999;
  transform: translate(-6px, -3px);
}
//When hovering over Links
.links {
  border: 2px solid red;
  width: 40px;
  height: 40px;
  transition: all 0.3s linear;
}

//Animation for clicked cursor
@keyframes cursorAnim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
    opacity: 0.6;
  }
}
.expand {
  animation: cursorAnim 0.8s forwards;
}

// Themes
.dark-mode {
  background: $bg-color-dark;
  h1,
  h2 {
    color: $color-white;
  }

  h3 {
    color: rgb(177, 177, 177);
  }
  h4 {
    color: $bg-color-dark;
  }
  p,
  h5 {
    color: $color-grey;
  }

  // Dark theme
  .hamburger-bg {
    background: linear-gradient(
      134.42deg,
      rgba(16, 36, 47, 0.38) 9.6%,
      rgba(5, 23, 33, 0.38) 96.46%
    );
  }
  .project-container-colors {
    color: white;
    background-color: #1a2f3c;
    h5 {
      color: white;
    }
    .roles {
      color: #c1c1c1;
    }
  }
  .rect-bg {
    background-color: #051721;
  }
}

// Light theme
.light-mode {
  background: $bg-color-light;
  h1,
  h2 {
    color: $bg-color-dark;
  }

  h3 {
    color: #051721;
  }
  h4 {
    color: $bg-color-dark;
  }
  p,
  h5 {
    color: $color-grey;
  }
  .hamburger-bg {
    background: linear-gradient(
      134.42deg,
      rgba(255, 255, 255, 1) 9.6%,
      rgba(172, 195, 207, .38) 96.46%
    );
  }
  .project-container-colors {
    color: #051721;
    background-color: #dceafb;
    h5 {
      color: #051721;
    }
    .roles {
      color: #515151;
    }
  }
  .rect-bg {
    background-color: #fbfeff;
  }
}
